@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.body {
  font-family: "Roboto", sans-serif;
}

.landing-img-box {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  .landing-img {
    width: 100%;
    height: 100%;
  }
}
.navbar-inner {
  background: #333;
}
.nav-link {
  color: #fff !important;
  font-weight: 600;
  &:hover {
    color: #e67cb2 !important;
  }
}
.text-color {
  color: #fff;
  background: #fff;
}
.landing-text {
  margin-top: 30vh;
  align-items: center;
  color: #fff;
  text-align: center;
  min-height: 70vh;
  h2 {
    font-size: 42px;
    font-weight: 600;
    padding-bottom: 0px;
  }
  hr {
    margin-top: 0;
    background: #fff;
    width: 50px;
  }
  p a {
    font-style: none;
    text-decoration: none;
    color: #fff;
    margin: 10px 10px;
    &:hover {
      color: #e67cb2;
    }
  }
}
