@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$primary-color: #e040fb;
$light-color-1: #f8f9fa;
$dark-color-1: #343a40;

body {
  font-family: "Dosis", "Roboto", sans-serif;
}

.landing-img-box {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  .landing-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
.navbar-inner {
  background: $dark-color-1;
  border-bottom: solid 2px $primary-color;
}
.nav-link {
  color: $light-color-1 !important;
  font-weight: 600;
  &:hover {
    color: $primary-color !important;
  }
}
.text-color {
  color: $light-color-1;
  background: $light-color-1;
}
.landing-text {
  margin-top: 30vh;
  align-items: center;
  color: $light-color-1;
  text-align: center;
  min-height: 70vh;
  h2 {
    font-size: 42px;
    font-weight: 600;
    padding-bottom: 0px;
  }
  hr {
    margin-top: 0;
    background: $light-color-1;
    width: 50px;
  }
  div a {
    font-style: none;
    text-decoration: none;
    font-weight: 600;
    color: #000;
    margin: 0px 10px;

    &:hover {
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }
  p a {
    font-style: none;
    text-decoration: none;
    color: $light-color-1;
    margin: 10px 10px;
    &:hover {
      color: $primary-color;
    }
  }
}
.mystorypage {
  background: $light-color-1;
  hr {
    margin-top: 0;
    height: 1px;
    background-color: $primary-color;
    width: 30px;
  }
  h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .prof-img-box {
    padding: auto;
    margin: auto;
    height: 45vh;
    width: 45vh;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .mystory-text {
    margin-top: 10px;
    text-align: center;
    strong {
      color: $primary-color;
    }
  }
}
