@import "~bootstrap/scss/bootstrap";

.landing-img-box {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  .landing-img {
    width: 100%;
    height: 100%;
  }
}
.navbar-inner {
  background: transparent;
}
.nav-link {
  color: #fff !important;
}
.text-color {
  color: #fff;
  background: #fff;
}
.landing-text {
  position: absolute;
  top: 30vh;
  left: 15vw;
  color: #fff;
  h2 {
    font-weight: 600;
  }
}
